h1
{
	font-family: "Times New Roman", Times, serif;
        font-style:italic;
	font-size: 60px;
	font-weight: bold;
}
body
{
	background-color:#FFDEAD ; }
th
{ 
	font-size:25px; 
}
td{ font-size:20px ;}
table , th , td{
    border: 3px solid #5F9EA0 ;
    color :#696969 ;
   

}


